.dropdownfilter__section{
    display : flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0px 100px;
    height: 69px;
    h2 {
    font-family: var(--font-dm-sans);
    font-size: 18px;
    font-weight: bold;
    }
}

.dropdownlist:hover,
.dropdownlist:focus{
box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 30%);
}

.dropdownlist {
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    top: 10%;
    left: 196px;
    z-index: 10;
    background-color: var(--primary-bg-dark);
    color: var(--primary-font-dark);
    font-family: var(--font-dm-sans);
    width: 170px;
    border-radius: 5px;
    li {
        height: 56.56px;
        padding: 0px 20px;
        button span {
            font-family: var(--font-dm-sans);
            font-weight: bold;
            font-size: 18px;
        }
        button:active {
            color: var(--secondary-font-1);
        }

    }


}

.dropdownlist__default{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.dropdownlist__hidden {
    display: none;
}

.dropdownlist__displayed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.dropdownlist__displayed::before {
    width: 100%;
    flex-shrink: 0;
    content: "";
    display: block;
    border-top: 1px solid #FFFF;
}