.miniawork__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

.miniawork__article_media{
    width: 350px;
    height: 300px;
}

.miniawork__article_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 5px;
}
.miniawork__article_title {
    color: var(--secondary-font-3);
    font-family: var(--font-dm-sans);
    font-size: 24;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.miniawork__article_span {
    color: var(--secondary-font-3);
    font-family: var(--font-dm-sans);
    font-size: 24;
    font-weight: 500;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}



.bigmedia__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        color: var(--secondary-font-3);
        font-family: var(--font-dm-sans);
        font-size: 24;
        font-weight: 400;
        white-space: nowrap;
    }
}