.btndropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32;
    height: 32;
    span {
        padding: 10.67px 8px;
    }
}

.btnlike:hover,
.btnLike:focus {
    cursor: pointer;
}
.btnlike__span {
    color: var(--secondary-font-3);
    font-family: var(--font-dm-sans);
    font-size: 24;
    font-weight: 500;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}


