.photographerpage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photographerpage__filter{
  display : flex;
  flex-direction: row;
  align-items: center;

  h2 {
    font-family: var(--font-dm-sans);
    font-size: 18px;
    font-weight: bold;
  }
}