.index__header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index__header_logo {
    margin-top: 42;
    margin-left: 100px;
}

.index__header_title {
    margin-top: 42;
    margin-right: 100;
    color: var(--secondary-font-3);
    font-family: var(--font-dm-sans);
    font-size: 36;
    font-weight: 500;
}